<head>
  <meta charset="UTF-8">
  <title><%= title || 'KovoitGo' %></title>
  <link rel="icon" href="/images/logo-kovoitgo.ico" type="image/x-icon">
  <link rel="stylesheet" href="/swiper/swiper-bundle.min.css">
  <% if (typeof pageCss !== 'undefined') { %>
    <link rel="stylesheet" href="/css/<%= pageCss %>.css">
  <% } else { %>
    <link rel="stylesheet" href="/css/global.css">
  <% } %>
</head>
