<head>
  <meta charset="UTF-8">
  <title><%= title || 'KovoitGo' %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/swiper/swiper-bundle.min.css">

  <link rel="stylesheet" href="/css/global.css">

  <% if (typeof pageCss !== 'undefined') { %>
    <link rel="stylesheet" href="/css/<%= pageCss %>.css">
  <% } %>
</head>
