<html>
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel='icon' href='/images/favicon.ico' class='js-favicon'>
</head>
<body>
    
<nav>
    <% if (!user) { %>
        <a href="/users/signup">Inscription</a> |
        <a href="/users/login">Connexion</a>
    <% } else { %>
        Bonjour, <%= user.username %> |
        <a href="/logout">Déconnexion</a>
    <% } %>
</nav>
</body>
</html>