<!DOCTYPE html>
<html lang="fr">
    <%- include('partials/head') %>
    <body>
    <header>
        <img src="/images/KovoitGO_bg.png" alt="Logo EcoCovoit" class="logo">
        <nav>
            <ul>
                <li><a href="/users/signup">Inscription</a></li>
                <li><a href="/users/login">Connexion</a></li>
            </ul>
        </nav>
    </header>
    <h1>Bienvenue chez KovoitGo</h1>
    <p>Votre solution de covoiturage écoresponsable !</p>
    <div class="video-container">
        <video controls autoplay muted>
            <source src="/images/Covoiturage _ avantages et inconvénients.mp4" type="video/mp4">
            Votre navigateur ne supporte pas la lecture vidéo.
          </video>    
        </div>
</body>
</html>
