<!-- views/home.ejs -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Bienvenue chez EcoCovoit</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel='icon' href='/images/favicon.ico' class='js-favicon'>
</head>
<body>
    <h1>Bienvenue chez EcoCovoit</h1>
    <p>Votre solution de covoiturage écoresponsable !</p>
    <a href="/users/signup">Inscription</a> | <a href="/users/login">Connexion</a>
</body>
</html>
