<!DOCTYPE html>
<html lang="fr">
  <%- include('partials/head') %>
  <body>
    <h1>Connexion</h1>
    <p class="subtitle">Connecte-toi à ton espace personnel</p>

    <form action="/users/login" method="post">
      <label for="email">Adresse email :</label>
      <input type="email" id="email" name="email" placeholder="Entrez votre email" required>

      <label for="password">Mot de passe :</label>
      <div class="password-wrapper">
        <input type="password" id="password" name="password" placeholder="Entrez votre mot de passe" required>
        <i id="togglePassword" class="fa-regular fa-eye-slash"></i>
      </div>            
      <button type="submit">Se connecter</button>

      <p style="text-align: center; margin-top: 15px;">
        Pas encore inscrit ? <a href="/users/signup">Créer un compte</a>
      </p>
    </form>

    <script>
        const toggle = document.getElementById("togglePassword");
const passwordInput = document.getElementById("password");

toggle.addEventListener("click", () => {
  const isVisible = passwordInput.type === "text";
  passwordInput.type = isVisible ? "password" : "text";

  toggle.classList.remove("fa-eye", "fa-eye-slash");
  toggle.classList.add(isVisible ? "fa-eye-slash" : "fa-eye");
});

      </script>
      
      
      
  </body>
</html>
