<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Passenger Home</title>
</head>
<body>
    <h1>Welcome, Passenger!</h1>
    <!-- Additional content for passengers can be added here -->
</body>
</html>
